body {
  margin-top: 70px;
}

#header {
  background-color: #f7f8f8;
}

#header .container {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 20px;
}

.location-search {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #002f34;
  padding: 10px 17px 10px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  border: none;
  color: #002f34;
  width: 100%;
  margin-left: 10px;
  font-size: 10;
  font-weight: 300;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  width: 100%;
}

.dropdown-menu {
  width: 273px;
  max-height: 310px;
  overflow-y: auto;
}

.current-location-container {
  margin: 10px 0px 24px 5px;
}

.current-location-container :hover {
  background-color: rgb(153, 239, 241);
  width: 100%;
}

.current-location {
  display: flex;
  align-items: center;
  padding: 5px 0px 0px 10px;
}

.current-location-text {
  margin-left: 8px;
  font-weight: 600;
  color: #3a77ff;
  font-size: 15px;
}

.region-container {
  padding: 10px;
  margin-left: 5px;
  color: rgba(0, 47, 52, 0.36);
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.locations-list {
  margin-top: 6px;
}

.location-item {
  display: flex;
  align-items: center;
  padding: 17px 0px 15px 15px;
  white-space: nowrap;
}

.location-item:hover {
  background-color: rgb(199, 255, 255);
}

.location-item-text {
  color: #002f34;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
}

.search-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #002f34;
  padding-left: 10px;
}

.search-btn {
  background-color: #062f34;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  border: none;
  width: 52px;
  padding: 10px;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login-btn {
  text-decoration: underline;
  background: none;
  border: none;
  font-weight: 600;
}

.login-btn:hover {
  text-decoration: none;
}

.sell-img {
  width: 110px;
}

#all-categories-btn {
  color: #002f34;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.categories-bar {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  padding: 3px 0px 13px 0px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-item {
  font-size: 14px;
  color: #002f34;
  padding-left: 17px;
}

.nav-item:hover {
  color: rgb(95, 173, 173);
}

.categories-dropdown {
  width: 65%;
  padding-left: 10px;
  max-height: none;
}

.main-category {
  color: #002f34;
  font-weight: 700;
  font-size: 14px;
  margin: 20px 0px 15px 16px;
}

.list-items {
  font-size: 14px;
  margin-left: 16px;
  color: #002f34;
}

.banner {
  background: url(/assets/banner.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card {
  margin-top: 5%;
}

.card-container {
  border: 0.1rem solid rgba(0, 47, 52, 0.2);
  padding: 10px;
  padding-bottom: 0px;
  position: relative;
}

.card-image-container {
  display: flex;
  justify-content: center;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 158px;
  margin-bottom: 10px;
}

.heart-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 12px;
}

.price-text {
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-text {
  height: 100px;
}

.add-desc {
  color: #61797d;
  font-size: 15px;
  overflow: hidden;
}

.location-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.location-text {
  color: #61797d;
  font-size: 10px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  white-space: nowrap;
  margin-bottom: 5px;
}

.featured-card-bottom {
  border-left: 0.4rem solid #ffce32;
  border-bottom-left-radius: 1px;
  margin-left: -13px;
  padding-left: 10px;
}

.featured {
  position: absolute;
  background-color: #ffce32;
  display: flex;
  align-items: center;
  padding: 5px 12px 5px 12px;
}

.featured-text {
  font-weight: 700;
  font-size: 10px;
  color: #002f34;
}

.sell-container {
  background-color: #3a77ff;
  border: 0.1rem solid rgba(0, 47, 52, 0.2);
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sell-text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sell-heading {
  overflow: hidden;
  font-weight: 700;
  color: #fff;
}

.sell-descr {
  overflow: hidden;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
}

.start-selling-btn {
  color: #fff;
  background-color: transparent;
  width: 100%;
  padding: 4%;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-top: 44.5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.h-1 {
  height: 100px;
}

.footer-section {
  background-color: #ebeeef;
  border-top: 1px solid rgba(0, 47, 52, 0.2);
}
.footer-heading {
  font-size: 1em;
  color: black;
  margin-bottom: 10px;
}

.footer-category {
  font-size: 0.8em;
  color: #002f34a3;
  margin-bottom: 3px;
}

.w-120 {
  width: 120px;
}

.h-80 {
  height: 80px;
}

.copyright-container {
  display: flex;
  align-items: center;
  min-height: 50px;
  background-color: #002f34;
  color: #fff;
  font-size: 0.8em;
  font-weight: 200;
}

.copyright-text {
  position: absolute;
  right: 20%;
}

.footer-copyright {
  color: #fff;
  font-weight: bold;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-categories {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 10px;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.store-container {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-top: 5%;
}

.bottom-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 47, 52, 0.03);
  margin-top: 100px;
}

.bottom-banner-img {
  width: 100%;
  object-fit: cover;
}

.bottom-banner-descr {
  margin-left: 20px;
  padding: 0px 25px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bottom-banner-heading {
  font-size: 2em;
  font-weight: 600;
}

.bottom-banner-text {
  font-size: 1em;
  margin-top: 10px;
}

.banner-social-container {
  display: flex;
  flex-direction: column;
  margin: 1% 0% 1% 0%;
  padding-left: 2%;
  border-left: 2px solid rgba(0, 47, 52, 0.2);
}

.banner-appstore-img {
  width: 40%;
}

.banner-playstore-img {
  width: 40%;
  margin-left: 5%;
}

.get-app-text {
  margin-top: 12%;
  font-size: 14px;
  font-weight: 600;
}

.banner-social-images {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

.modal {
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal-close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.modal-img {
  width: 30%;
}

.welcome-text {
  font-size: 19px;
  color: #002f34;
  margin-top: 27px;
}

.community-text {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

.modal-buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-login-btn {
  display: flex;
  border: 2px solid #002f34;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
  width: 90%;
}

.modal-login-btn:hover {
  border: 4px solid #002f34;
}

.login-logo {
  margin-left: 20px;
}

.login-text {
  font-weight: 600;
  margin-left: 30px;
}

.login-terms {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.modal-content {
  display: block;
  border: none;
}

.modal-back {
  background-color: #fff;
  border: none;
  position: absolute;
  left: 5px;
  top: 5px;
}

.email-modal-img {
  width: 100px;
  height: 100px;
  margin-top: 15%;
}

.modal-email-text {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10%;
  text-align: center;
}

.email-input {
  width: 120%;
  border-radius: 4px;
  border: 1px solid #000;
  color: #002f34;
  margin-top: 20%;
  padding: 10px;
}

.modal-next-btn {
  margin-top: 7%;
  width: 120%;
  background-color: #002f34;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
}

.reveal-text {
  color: rgba(0, 47, 52, 0.64);
  text-align: center;
  margin-top: 20%;
  font-size: 14px;
  margin-bottom: 8%;
}

.pwd-modal-img {
  width: 60px;
  height: 60px;
  margin-top: 10%;
}

.create-pwd-text {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.pwd-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #000;
  color: #002f34;
  margin-top: 5%;
  padding: 10px;
}

.create-pwd-btn {
  margin-top: 10%;
  width: 100%;
  background-color: #002f34;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  margin-bottom: 15%;
}

.create-pwd-btn:hover {
  border: 4px solid #000;
  background-color: #fff;
  color: #000;
}

.pwd-instructions {
  margin-top: 10px;
  font-size: 12px;
  color: #194448;
}
